<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://www.quartinhos.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/a/papel_de_parede_floral_aquarela_fb.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Estudante em Desenvolvimento Java Full-Stack Jr.</p>
      
      <a href="https://www.linkedin.com/in/vivian-nakano/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

      <a href="https://github.com/vivian-nakano" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

    </div>
  </div>